:root {
  --main-color: #f9f7fe;
  --accent-color: #6c63ff;
  --main-font: "Poppins", sans-serif;
  --accent-font: "Playfair Display", serif;
  --text-color: #272142;
}
*,
*::before,
*::after,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
}
.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

/* ----NAVBAR----- */
nav {
  background-color: var(--main-color);
}
.logo {
  margin: 0px 70% 0px 40px;
}
.navbar-nav {
  font-weight: 500;
  font-size: 16px;
  color: rgba(39, 33, 66, 0.7);
}
.navbar-collapse {
  text-align: end;
}

.navbar-nav .nav-link.active {
  color: var(--accent-color);
}
.navbar-nav .nav-link:hover {
  color: var(--accent-color);
}

/* -----HERO------ */
.hero {
  background-color: var(--main-color);
  height: 100%;
  padding: 273px 10px;
  text-align: center;
}

.hero p {
  font-size: 36px;
  font-weight: 700;
}

h1 {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 96px;
  line-height: 1.3;
  padding: 0 5px;
}

h2 {
  font-size: 24px;
  color: var(--text-color);
  margin: 24px 0 49px 0;
}

.accent-btn {
  font-weight: 500;
  font-size: 18px;
  color: #fff;

  background-color: var(--accent-color);
  padding: 18px 46px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  transition: all ease-in-out 0.3s;
}

.accent-btn:hover,
.accent-btn:focus {
  background-color: transparent;
  color: var(--accent-color);
}

/* -------PROJECTS-------- */
.projects__text {
  color: var(--text-color);
  text-align: center;
  margin: 127px 0px 82px 0px;
  padding: 10px;
}
.content {
  padding: 100px 10px 0px 60px;
}
.content h2 {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 64px;
  line-height: 1.3;
}
.text {
  font-size: 16px;
  line-height: 1.9;
  color: rgba(39, 33, 66, 0.7);
  margin-bottom: 70px;
}
.content a {
  background-color: transparent;
  color: var(--accent-color);
}

.content a:hover,
.content a:focus {
  background-color: var(--accent-color);
  color: #fff;
}

.projects .row {
  margin-bottom: 60px;
}

/* -------CONTACT BOX------ */
.contact-section {
  padding: 45px 100px;
  background-color: var(--main-color);
  border-radius: 20px;
}
.contact-section h5 {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  margin-bottom: 18px;
}
.contact-section p {
  font-size: 18px;
  margin: 0;
}

/* ----ABOUT------ */
.hero-about {
  height: 100%;
  padding: 200px 10px;
}

.content-about {
  padding-right: 94px;
}
.title {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 64px;
  line-height: 1.3;
}
.subtitle-about {
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color);
}

/* -------WORK-------- */
.top {
  padding: 200px 10px 100px;
  max-width: 65%;
}
h3 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 16px 0px 9px;
}
h4 {
  font-size: 14px;
  text-align: center;
  color: rgba(39, 33, 66, 0.7);
}
.work-row {
  margin-bottom: 60px;
}

/* ------CONTACT PAGE------- */
.mail-link {
  background-color: var(--main-color);
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  display: block;
  color: var(--accent-color);
}
i {
  color: var(--accent-color);
  font-size: 40px;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}
.social-links a:not(:last-child) {
  margin-right: 35px;
}
.social-links a:hover i {
  color: #2f2b9b;
  font-size: 42px;
  transition: all 300ms ease-in-out;
}

@media (max-width: 1200px) {
  .hero-about {
    padding: 100px 10px;
  }
  .content-about {
    padding: 10px;
  }
  .subtitle-about {
    margin: 20px;
  }
  .text {
    line-height: 1.5;
    margin-bottom: 40px;
  }
}

@media (max-width: 992px) {
  .content {
    padding: 10px;
  }
  .top {
    padding: 100px 10px 10px;
    max-width: 100%;
  }
  .top .title {
    font-size: 44px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .logo {
    margin: 0px 65% 0px 40px;
  }
  h1 {
    font-size: 68px;
  }
  h2 {
    font-size: 20px;
  }
  .hero p {
    font-size: 26px;
  }
  .hero {
    padding: 113px 10px;
  }
  .projects__text {
    margin: 50px 0px 42px 0px;
  }
  .content h2 {
    font-size: 44px;
    margin: 20px 0px;
  }
  .content p {
    margin-bottom: 30px;
  }
  .row {
    margin-bottom: 50px;
  }

  .contact-section {
    padding: 20px 40px;
  }
  .contact-section h5 {
    font-size: 38px;
    margin-bottom: 18px;
  }
  .contact-section p {
    font-size: 15px;
  }

  .hero-about {
    padding: 70px 10px;
  }
  .title-about {
    font-size: 44px;
  }
}

@media (max-width: 576px) {
  .logo {
    margin: 0px 50% 0px 40px;
  }
  .accent-btn {
    font-weight: 400;
    font-size: 14px;

    padding: 10px 16px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 16px;
  }
  .hero p {
    font-size: 16px;
  }
  .hero {
    padding: 83px 10px;
  }
  .projects__text {
    font-size: 14px;
    margin: 30px 0px 22px 0px;
  }
  .content h2 {
    font-size: 34px;
    margin: 15px 0px;
  }
  .text {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .row {
    margin-bottom: 30px;
  }

  .contact-section {
    border-radius: 0;
  }
  .contact-section h5 {
    font-size: 30px;
  }

  .title {
    font-size: 32px;
  }

  .top {
    padding: 70px 10px 0px;
  }
  .top .title {
    font-size: 32px;
    text-align: start;
  }

  .mail-link {
    padding: 10px;
  }
}
